ADMIN_API_KEY=123456
CONNECTION_STRING=Host=postgres;Port=5432;Database=petrovstudio;Username=petrov;Password=securepass;Include Error Detail=true
ASPNETCORE_ENVIRONMENT=Development
POSTGRES_PASSWORD=securepass
POSTGRES_USER=petrov
POSTGRES_DB=petrovstudio
PGADMIN_DEFAULT_EMAIL=admin
PGADMIN_DEFAULT_PASSWORD=123456
